* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    color: black;
    font-family: Helvetica, 'Open Sans', sans-serif;
    margin: 0 auto;
    outline: 1px solid red;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgb(63, 57, 57);
}

.grid-container {
    background-color: #f1f1f1;
    height: 100vh;
}

.grid-item {
    /* border: 2px solid blue; */
    overflow: hidden;
    object-fit: cover;
    font-weight: 300;
    font-size: 40px;
}